{% extends 'layout.html' %}
{% load static %} 

{% block content %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Home jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/1.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Naruto</div>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, voluptatum!
                            </p>
                            <p class="card-text">
                                <small class="text-muted">5 minutes ago</small>
                            </p>
                        </div>
                    </div>
                    
                
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/2.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Akatsuki no Yona</div>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, voluptatum!
                            </p>
                            <p class="card-text">
                                <small class="text-muted">5 minutes ago</small>
                            </p>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/3.jpg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Kimetsu no Yaiba</div>
                            <p class="card-text">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, voluptatum!
                            </p>
                            <p class="card-text">
                                <small class="text-muted">5 minutes ago</small>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <img class="card-img" src="{% static 'img/4.png' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">Sword Art Onlinde</div>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, sequi obcaecati quasi ad quisquam excepturi cumque placeat velit autem, nemo at necessitatibus laborum iste corrupti natus quis sint voluptatum odit.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">5 minutes ago</small>
                            </p>
                        </div>
                    </div>
    


                </div>
            </div>
        </div>
    </div>
{% endblock %}